.cache/
.ipython/
.DS_Store
.vscode/
.venv/
.env/
uv.lock
.jupyter/


/data
.ivy2/
.config/

/__pycache__
.ivy2
/.local
# Ignore Jupyter Notebook autosave checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/
/_spark_metadata
checkpoint/
.local/